---
import Container from "@/components/container.astro";
import logoImage from "@/assets/equitech-logo.png";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import { Picture } from "astro:assets";

const menuitems = [
  // {
  //   title: "Features",
  //   path: "#",
  //   children: [
  //     { title: "Action", path: "/" },
  //     { title: "Another action", path: "#" },
  //     { title: "Dropdown Submenu", path: "#" },
  //     { title: "404 Page", path: "/404" },
  //   ],
  // },
  // {
  //   title: "Pricing",
  //   path: "/pricing",
  // },
  // {
  //   title: "About",
  //   path: "/about",
  // },
  // {
  //   title: "Blog",
  //   path: "/blog",
  // },
  // {
  //   title: "Contact",
  //   path: "/contact",
  // },
  // {
  //   title: "Pro Version",
  //   badge: true,
  //   path: "https://astroship-pro.web3templates.com/",
  // },
  {
      title: "Nosotros",
      path: "#nosotros",
  },
  {
      title: "Servicios",
      path: "#servicios",
  },
  {
      title: "Refacciones",
      path: "#refacciones",
  },
  {
      title: "Contacto",
      path: "#contacto",
  }
];
---

<Container>
  <div class="fixed top-0 left-0 right-0 z-50 bg-white shadow-md mx-auto px-4 sm:px-6 lg:px-8">
  <header class="max-w-[1500px] mx-auto flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-lg">
          <Picture
            src={logoImage} 
            alt="equitech logo" 
            class="h-8 w-auto" 
          />
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {/* {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )} */}

                {item && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 items-center text-gray-600 hover:text-gray-900">
                      <span> {item.title}</span>
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
        <!-- <div class="lg:hidden flex items-center mt-3 gap-4">
          <Link href="#" style="muted" block size="md">Log in</Link>
          <Link href="#" size="md" block>Sign up</Link>
        </div> -->
      </MenuItems>
    </Astronav>
    <div class="w-[100px] h-full">
      <!-- <div class="hidden lg:flex items-center gap-4">
        <a href="#">Log in</a>
        <Link href="#" size="md">Sign up</Link>
      </div> -->
    </div>
  </header>
  </div>
</Container>
